.full-content{
    
    background: $primary-color-light;
    margin: 1em 0;
    padding: 1em;

    &.black {
        background: $secondary-color-dark;
        color: white;
        
    }
}