h1.site-title, p.site-title{
	margin: 0;
}

.site-title a, .site-title a:visited{
	text-decoration: none;
	color: $link-color;
}


header.site-header {
	z-index: 5;

	@media( max-width:850px ){
		height: 5rem;
	}

	&.header-image {
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
		min-height: 55vh;

		@media( max-width: 1300px ){
			min-height: 60vh;
		}

		@media( max-width: 850px ){
			min-height: 47vh;
		}		

	}

	.home-page-hero-image {
		@extend %box-shadow;
		margin: 1em 30%;
		width: 40%;
	
		@media( max-width: 850px ){
			margin: auto;
			width: 100%;
		}	

	}


	// this wraps the logo and the menu
	.flexy{		
		background: #0f0f0f;		
		margin-top: 37px;

		@media( max-width: 850px ){
			left: 0;
			position: fixed;
			right: 0;
		}

		div.site-branding{
			flex-basis: 0;
			flex-grow: 1;		
		}

		nav.main-navigation{
			flex-basis: 0;
			flex-grow: 2;
				
			@media( max-width: 850px){
				flex-grow: 1;
			}

		}

	}

}

