header.site-header{

	position: relative;

	.hero {	

		position: absolute;
		left: 25%;
		top: 12.5vh;
		
	    align-self: center;
		background: $primary-color-dark;
		color: white;
	    display: flex;
	    font-size: 1.5em;
	    height: 25vh;
	    justify-content: center;
		padding: 2em;
		text-align: center;
		transition: all .5s ease-in;
	    width: 50%;  

		@media( max-width: 1300px ){
			height: 30vh;
			padding: 1em;
			top: 18vh;
		}

		@media( max-width: 850px ){
			height: 25vh;
			left: 2.5%;
			width: 95%;
			top: 12vh;
		}

		@media( max-width: 850px) and (max-height: 450px ){
			display: none;
		}

	}

}