header.site-header{

	position: relative;

	.hero {	

		position: absolute;
		left: 25%;
		top: 12.5vh;
		
	    align-self: center;
		background: $primary-color;
		color: white;
	    display: flex;
	    font-size: 1.5em;
	    height: 20vh;
	    justify-content: center;
	    padding: 2em;
	    width: 50%;  
		z-index: 1;

		@media( max-width: 1300px ){
			top: 18vh;
		}
	}

	.banner {


	}


}