nav {
    z-index: 5;
}

nav ul {
    display: flex;    
    flex-direction: row;
    font-size: 1.25em;
    list-style: none;
    
    li {
        padding: 0 1em;
    } 
}

nav.main-navigation {
    margin-right: 1em;
    
    ul li a {
        color: white;
        &:hover {
            color: darken($color: white, $amount: 40);
            text-decoration: underline;
        }
    }
    
    @media( max-width: 850px ){
        ul {
            background: rgba(1,1,1,.77);
            flex-direction: column;
            float: none;
            font-size: 2em;
            height: 100vh;
            left: 0;
            position: fixed;        
            right: 0;
            text-align: center;
            li {
                float: none;
            }
        }
    }
    
}