a.phone {
    
    @extend %box-shadow;

    background: $secondary-color-dark;   
    bottom: 1em;
    color: white;
    display: block;
    padding: 1em 1.5em;
    position: fixed;
    right: 1em;
    text-decoration: none;    

    &:hover {
        background: $primary-color-dark;
    }

    @media( max-width: 850px ){
        bottom: .5em;
        right: 10%;
        text-align: center;
        width: 80%;
    }

}