.services-summary div {
    float: left;
    width: 33%;
    @media( max-width: 850px ){       
        float: none;
        width: auto;
    }

}


@supports( display: grid ){
    .services-summary {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
        
        @media( max-width: 850px ){
            grid-template-columns: 1fr;
        }

        div {
            float: none;
            width: auto;
        }
    }
}