.tab {
    padding-top: 50px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    width: 50%;
    margin: 0 auto;
    line-height: 1.5;
    font-weight: 300;
   -webkit-font-smoothing: antialiased;

   @media( max-width: 130px ){
    width: 70%;
  }

  @media( max-width: 850px ){
    width: 100%;
  }

  }
  .tabs {
    display: table;
    padding-left: 0;
    position: relative;
    
    overflow: hidden;
    margin: 0;
    width: 100%;

  }
  .tabs li {
    float: left;
    line-height: 38px;
    overflow: hidden;
    padding: 0;
    position: relative;

    &.current {
      background: $primary-color-dark;
      color: white; 
    }

    @media( max-width: 850px ){
      float: none;
    }


  }
  .tabs li {
    background-color: #eff0f2;
    border-bottom: 1px solid white;
    cursor: pointer;
    font-weight: 500;
    display: block;
    letter-spacing: 0;
    outline: none;
    padding: 0 20px;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-bottom: 2px solid $primary-color-light;
    @media( max-width: 850px ){
      padding: 1em;
    }
  }
  .tabs_item {
    display: none;
    padding: 30px 0;

    ul {
      margin-left: 0;
      padding-left: 0;
    }

  }

  .tabs_item img {
    width: 200px;
    float: left;
    margin-right: 30px;
  }
  .tabs_item:first-child {
    display: block;
  }