.testimonials {
    display: flex;
    flex-basis: 25%;
    width: 100%;

    @media( max-width: 800px ){
        flex-direction: column;
    } 

}

@supports( display: grid ){
    .testimonials {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        @media( max-width: 800px ){
            grid-template-columns: 1fr;
        } 
    }
}


.quote{
    align-items: center;
    background: #fff;
    color: transparent;

    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    
    
    padding: 1.618em;
    margin: 0 0 1.618em;
    border: 1px solid #dcdcdc;
    -webkit-border-radius: 0.327em;
    border-radius: 0.327em;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: relative;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.05);
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.quote:after,
.quote:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.quote:after {
    border-top-color: #fff;
    border-width: 8px;
    left: 20px;
    margin-left: -8px;
}

.quote:before {
    border-top-color: #d2d2d2;
    border-width: 9px;
    left: 20px;
    margin-left: -9px;
}

#reviewstars {
    display: none;
}