.logged-in nav.top-navigation {
    top: 32px;
}

nav.top-navigation {
    background: $primary-color-dark;
    font-size: .75em;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;

    ul{     
        margin-bottom: 0;
    
        li {
            height: 100%;
            padding: .5em;
            text-align: center;
            width: 25%;

            a {
                border-bottom: 3px dashed $secondary-color-light;
                color: white;
                text-decoration: none;

                &:hover{
                    border-bottom: 3px solid $primary-color-light;
                    color: $secondary-color-dark;
                }

            }

            &:last-of-type {
                background: $secondary-color-light;                
                width: 50%;
                a {
                    border-bottom: 3px solid red;                        
                }
            }


        }

    }
}



