nav.top-navigation {
    background: $primary-color-dark;
    font-size: .75em;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;


    ul{     
        margin-bottom: 0;
    
        li {
            height: 100%;
            width: 25%;
            text-align: center;

            a {
                color: white;
                text-decoration: none;
            }

            &:last-of-type {
                background: $secondary-color-light;
                width: 50%;

                a {
                    border-bottom: 1px solid red;
                    color: black;       
                }
            }


        }

    }
}



