.logged-in nav.top-navigation {
    top: 32px;
}

nav.top-navigation {
    background: $primary-color-dark;
    font-size: .6em;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;


    ul{     
        padding: .5em;
        justify-content: space-around;
        margin-bottom: 0;

        @media( max-width: 1000px ){
           margin-left: 0;
           padding-left: 0;
         } 

    
        li {
            @extend %box-shadow;

            background: $primary-color-light;   
            border-radius: 6px;         
            height: 100%;
            padding: .5em;
            text-align: center;
            width: 25%;
            
            &:hover{                   
                background: $secondary-color;
            }

            a {
                color: white;
                text-decoration: none;
            }

            @media( max-width: 850px ){
               display: none;
            } 


            &:last-of-type {
                background: $secondary-color-light;                
                
                &:hover{                   
                    background: $secondary-color-dark;
                }

                a {
                    border-bottom: 3px solid red;                        
                }

                @media( max-width: 850px ){
                    background: red;
                    display: block;
                    width: 100%;
                } 
     


            }


        }

    }

}




