$inner-width: 90%;
$content-max: 1450px;

//color palette
$primary-color: #42a5f5;
$primary-color-light:#80d6ff;
$primary-color-dark: #0077c2;

$secondary-color: #004d40;
$secondary-color-light:#39796b;
$secondary-color-dark: #00251a;

$link-color: $primary-color-dark;