$inner-width: 90%;
$content-max: 1450px;

//color palette
$primary-color: #616161;
$primary-color-light:#757575;
$primary-color-dark: #424242;

$secondary-color: #004d40;
$secondary-color-light:#39796b;
$secondary-color-dark: #00251a;

$link-color: #b71c1c;;